body {
    background-image: url(../images/santiago-bernabeu.jpg);
    background-size: cover;
    background-position: center;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: cursive;
    margin-top: 25px;
}
.glass-box {
    width: 930px;
    height: 530px;
    background: radial-gradient(rgba(255, 255, 255, 0.6));
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.6);
    border-radius: 20px;
    backdrop-filter: blur(3px);
}

i {
    position: relative;
    margin-left: 20px;
    color: white;
    font-size: 25px;
    cursor: pointer;
    transition: 0.2s ease;
}

i:hover {
    color: #000;
}
nav {
    width: 70%;
    background-color: #00008B;
    display: flex;
    align-items: center;
    padding: 10px 20px;
    border-bottom-right-radius: 20px;
}
nav ul{
    display: flex;
    margin-left: auto;
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
}
nav ul li a{
    text-decoration: none;
    color: white;
    transition: 0.2s ease;
}
nav ul li a:hover{
    color: #000;
}
.dropdown-menu {
    display: none;
    position: absolute;
    top: 7.1%;
    left: 0;
    background-color: #00008B;
    padding: 10px 20px;
    border-radius: 0 0 20px 20px;
    width: auto;
    flex-direction: column;
}
.dropdown-menu.open {
    display: flex;
    flex-direction: column;
}
.dropdown-menu li {
    width: 100%;
    text-align: left;
    padding: 10px 20px;
}

.dropdown-menu li a {
    display: block;
    width: 100%;
}
.searchbox input{
    float: right;
    margin: -30px 40px;
    width: 20%;
    height: 20px;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 2px solid #fff;
    letter-spacing: 1px;
    font-size: 16px;
}
.searchbox ::placeholder, .searchboxinput{
    color: #fff;
    font-size: 16px;
    padding-bottom: 3px;
}
.searchbox input:hover{
    border-bottom: 2px solid #00008B;

}
.icon{
    float: right;
    margin: -30px 20px;
}
.icon i{
    font-size: 20px;
    color: #fff;
    transition: 0.2s ease;
}
.icon i:hover{
    color: #00008B
}
.desc{
    width: 700px;
    height: 400px;
    margin-top:10px;
    margin-left:80px;
    border: 10px solid #00008B;
    border-radius: 5%;
    padding: 15px;

}
.desc:hover {
    border: 10px solid #fff;
}
.desc h1{
    color: #00008B;
    margin-bottom: 30px;
    margin-top: 1px;
    text-align: center;


}
.desc h3{
    color: white;
}
