<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Players</title>
  <link rel="stylesheet" href="/css/players.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>
<body>
<div class="glass-box">
  <div class="players">
    <h1>Players</h1>
  </div>
  <table>
    <thead>
    <tr>
      <th>#</th>
      <th>Picture</th>
      <th>Name</th>
      <th>Nationality</th>
      <th>Career Goals</th>
      <th>Current Club</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>1</td>
      <td><img src="../static/изтеглен%20файл.jpeg" alt="Player 1"></td>
      <td>Cristiano Ronaldo</td>
      <td>Portugal</td>
      <td>895</td>
      <td>Al Nassr</td>
      <td><button class="delete-btn"><i class="fas fa-trash-alt"></i></button></td>
    </tr>
    <tr>
      <td>2</td>
      <td><img src="../static/images/messi.jpeg" alt="Player 2"></td>
      <td>Lionel Messi</td>
      <td>Argentina</td>
      <td>838</td>
      <td>Inter Miami</td>
      <td><button class="delete-btn"><i class="fas fa-trash-alt"></i></button></td>
    </tr>
    <!-- Add more rows as needed -->
    </tbody>
  </table>
</div>
</body>
</html>
