<!DOCTYPE html>
<html lang="en" 
>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE-edge">
  <meta name="viewport" content="width=device-width, initial-scope=1.0">
  <title>Registration</title>
  <link rel="stylesheet" href="/css/registerStyle.css">
  <link rel="stylesheet" href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css">
</head>
<body>

<div class="wrapper">
  <form   th:method="post"
          th:action="@{/register}"
          th:object="${registerDTO}"
  >
    <h1>Registration</h1>
    <div class="input-box">
      <input type="text" th:field="*{firstName}" placeholder="First Name" required>
      <div th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}" style="color: red"></div>

    </div>
    <div class="input-box">
      <input type="text" th:field="*{lastName}" placeholder="Last Name" required>
      <div th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}" style="color: red"></div>

    </div>
    <div class="input-box">
      <input type="text" th:field="*{email}" placeholder="Email" required>
      <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}" style="color: red"></div>

    </div>
    <div class="input-box">
      <input type="password" th:field="*{password}" placeholder="Password" required>
      <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}" style="color: red"></div>

    </div>
    <div class="input-box">
      <input type="password" th:field="*{password}" placeholder="Confirm Password" required>
      <div th:if="${#fields.hasErrors('confirmPassword')}" th:errors="*{confirmPassword}" style="color: red"></div>
    </div>
    <button type="submit" class="btn">Register</button>

  </form>
</div>

</body>
</html>